DJANGO_DATABASE_HOST=localhost
DJANGO_DATABASE_PORT=5432
DJANGO_DATABASE_NAME=seplag_fem
DJANGO_DATABASE_USER=seplagfem_usr
DJANGO_DATABASE_PW=change-me
DJANGO_DATABASE_CONN_MAX_AGE=60
DJANGO_DATABASE_CONN_HEALTH_CHECKS=true
